*Some light data manipulation to make Tableau work easier.*

In [1]:
setwd("C:/Users/linds/OneDrive/Documents/samoa_corals_data/")

library(data.table)
library(geojsonio)
library(GISTools)
library(ncdf4)
library(raster)
library(rgdal)
library(rgeos)
library(sf)
library(spatial.tools)
library(tidyverse)

Warning message:
"package 'data.table' was built under R version 3.6.3"
Warning message:
"package 'geojsonio' was built under R version 3.6.3"

Attaching package: 'geojsonio'


The following object is masked from 'package:base':

    pretty


Warning message:
"package 'GISTools' was built under R version 3.6.3"
Loading required package: maptools

Warning message:
"package 'maptools' was built under R version 3.6.3"
Loading required package: sp

Checking rgeos availability: TRUE

Loading required package: RColorBrewer

Loading required package: MASS

Loading required package: rgeos

Warning message:
"package 'rgeos' was built under R version 3.6.3"
rgeos version: 0.5-2, (SVN revision 621)
 GEOS runtime version: 3.6.1-CAPI-1.10.1
 Linking to sp version: 1.4-1
 Polygon checking: TRUE


Warning message:
"package 'raster' was built under R version 3.6.3"

Attaching package: 'raster'


The following objects are masked from 'package:MASS':

    area, select


The following object is masked from 'package:data.table':

    shift


Warning message:
"package 'rgdal' was built under R version 3.6.3"
rgdal: version: 1.4-8, (SVN revision 845)
 Geospatial Data Abstraction Library extensions to R successfully loaded
 Loaded GDAL runtime: GDAL 2.2.3, released 2017/11/20
 Path to GDAL shared files: C:/Users/linds/OneDrive/Documents/R/win-library/3.6/rgdal/gdal
 GDAL binary built with GEOS: TRUE
 Loaded PROJ.4 runtime: Rel. 4.9.3, 15 August 2016, [PJ_VERSION: 493]
 Path to PROJ.4 shared files: C:/Users/linds/OneDrive/Documents/R/win-library/3.6/rgdal/proj
 Linking to sp version: 1.4-1

Warning message:
"package 'sf' was built under R version 3.6.3"
Linking to GEOS 3.6.1, GDAL 2.2.3, PROJ 4.9.3

Warning message:
"package 'spatial.tools' was built under R version 3.6.3"
Warning message:
"package 'tidyverse' was built under R version 3.6.3"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.0     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.5
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

Warning message:
"package 'ggplot2' was built under R version 3.6.3"
Warning message:
"package 'tidyr' was built under R version 3.6.3"
Warning message:
"package 'readr' was built under R version 3.6.3"
Warning message:
"package 'dplyr' was built under R version 3.6.3"
Warning message:
"package 'forcats' was built under R version 3.6.3"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::between()   masks data.table::between()
x tidyr::extract()   masks raster::extract()
x dplyr::filter()    masks stats::filter()
x dplyr::first()     masks data.table::first()
x dplyr::lag()       masks stats::lag()
x dplyr::last()      masks data.table::last()
x dplyr::select()    masks raster::select(), MASS::select()
x purrr::transpose() masks data.table::transpose()

In [16]:
AS_all = read.csv('AS_all.csv')
head(AS_all)

  bty      hs       rug      slope    asp       shore_ed wl_ed    vill_third_q
1 197.6100 1.959184 1.843792 40.82961 259.34564 784.5772 6325.765 287.994
2 198.0498 1.979381 1.600071 40.40025 144.98395 790.9166 6303.516 287.994
3 198.5994 1.989796 1.541323 43.99948 198.82486 799.5071 6281.586 287.994
4 169.5831 1.876289 3.116254 58.30967 302.40808 734.8886 6281.107 287.994
5 168.4799 1.770000 1.761940 48.98439  49.57696 741.4507 6258.699 287.994
6 172.1165 1.727273 1.773451 46.73452 139.44661 750.6075 6236.612 287.994
  vill_ed  esi                ... ucur         vcur        x      y       ID
1 2487.227 Freshwater Marshes ... -0.004890001 -0.01047005 666925 8429050 Tau
2 2460.638 Freshwater Marshes ... -0.004890001 -0.01047005 666975 8429050 Tau
3 2434.784 Freshwater Marshes ... -0.004890001 -0.01047005 667025 8429050 Tau
4 2445.261 Freshwater Marshes ... -0.004890001 -0.01047005 666925 8429000 Tau
5 2418.210 Freshwater Marshes ... -0.004890001 -0.01047005 666975 8429000 Tau
6 2391.898 Freshwater Marshes ... -0.004890001 -0.01047005 667025 8429000 Tau
  scler_preds plate_preds massive_preds free_living_preds encrusting_preds
1 13.15837    22.6050     17.46794      0                  4.0
2 13.37088    22.4800     17.34806      0                  7.0
3 12.75837    22.2217     17.37513      0                  4.8
4 13.52500    22.2450     17.52938      0                  2.6
5 14.76238    24.6549     18.20950      0                 14.0
6 13.42075    22.5550     17.59388      0                  7.8

In [34]:
latlong = read.csv('latlongmerge.csv') # merge in the lat long- UTM coords cause mapping issues
latlong$X <- NULL
nrow(latlong)
head(latlong)

[1] 146074

  long      lat       bty      x      y
1 -169.6059 -14.13474 198.3372 650470 8436925
2 -169.6055 -14.13474 196.5662 650520 8436925
3 -169.6050 -14.13473 198.5762 650570 8436925
4 -169.6069 -14.13520 194.6120 650370 8436875
5 -169.6064 -14.13519 182.2847 650420 8436875
6 -169.6059 -14.13519 171.5497 650470 8436875

In [50]:
ncol(AS_all)
nrow(AS_all)
nrow(latlong)
full <- merge(AS_all, latlong, by=c('x','y','bty'))
nrow(full)

[1] 21

[1] 144990

[1] 146074

[1] 144990

In [40]:
head(full)
write.csv(full, 'AS_all_full.csv')

  x        y       bty      hs        rug       slope     asp       shore_ed
1 489835.1 8777890 179.3925 -179.3925 -179.3925 -179.3925 -179.3925 346.8430
2 489835.1 8777940 150.6340 -150.6340 -150.6340 -150.6340 -150.6340 339.8059
3 489835.1 8777990 137.0508 -137.0508 -137.0508 -137.0508 -137.0508 334.4672
4 489835.1 8778040 126.2835 -126.2835 -126.2835 -126.2835 -126.2835 331.0604
5 489835.1 8778090 121.5233 -121.5233 -121.5233 -121.5233 -121.5233 330.8983
6 489835.1 8778140 114.6534 -114.6534 -114.6534 -114.6534 -114.6534 333.4906
  wl_ed    vill_third_q ... ucur       vcur        ID     scler_preds
1 355630.1 330.658      ... -0.1392937 -0.03117405 Swains 31.75075
2 355679.7 330.658      ... -0.1392937 -0.03117405 Swains 31.75075
3 355729.3 330.658      ... -0.1392937 -0.03117405 Swains 31.75075
4 355778.9 330.658      ... -0.1392937 -0.03117405 Swains 31.83413
5 355828.5 330.658      ... -0.1392937 -0.03117405 Swains 31.83413
6 355878.1 330.658      ... -0.1392937 -0.03117405 Swains 31.83413
  plate_preds massive_preds free_living_preds encrusting_preds long
1 34.2836     21.47381      0                 40.334           -171.0931
2 34.2836     21.51131      0                 40.334           -171.0931
3 34.2836     21.53944      0                 40.334           -171.0931
4 34.2836     21.62694      0                 40.334           -171.0931
5 34.2836     21.62694      0                 40.334           -171.0931
6 34.2836     21.53944      0                 40.334           -171.0931
  lat
1 -11.05543
2 -11.05498
3 -11.05453
4 -11.05408
5 -11.05362
6 -11.05317

In [65]:
surveyed = read.csv('mapped_merge.csv')
surveyed$surveyed <- 1
nrow(surveyed)
nrow(full)
full2 <- merge(full, surveyed, by=c('x','y','ID'), all.x=TRUE)
nrow(full2)

[1] 3163

[1] 144990

[1] 144990

In [69]:
full2[is.na(full2)] <- 0
sum(full2$surveyed)

[1] 2947

In [73]:
write.csv(full2, 'AS_all_full2.csv')